
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  border: 1px solid black;
  width: 80%;
  height: 80%;
}
.card-container2 {
  background: yellow;
  border: 1px solid black;
  width: 80%;
  height: 80%;
}
.button-container {
  height: 100px;
}
.news-container {
}
#news-list {
  width: 90%;
  padding: 10px;
}
#news-list li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
#news-list li h3, h5 {
  margin: 5px;
}
#expand-button {
  margin: 7px;
  width: 150px;
}
