
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  border: 1px solid black;
  width: 80%;
  height: 80%;
}
#news-list {
  width: 90%;
  padding: 10px;
}
#news-list li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
#news-list li h3, h4, h5 {
  margin: 5px;
}
